<!-- extend base layout -->
{% extends "_layout.html" %}

{% block content %}
            <section id="home">
                <h2>Welcome to the website</h2>
                <p>
                    This is the tagline
                </p>
                <ol>
                    <li><a class="button" href="/predictions">See Latest Predictions</a></li>
                    <li><a class="button" href="/Account/Register">Sign Up For A Free Account</a></li>
                </ol>
                <div class="addthis_native_toolbox"></div>
            </section>
{% endblock %}